/Categoria.class
/Pelicula.class
/Ppal.class
/VentanaPelicula$1.class
/VentanaPelicula.class
/Ppal$1.class
/Ventana.class
/Ventana$1.class
/AgregarPelicula.class
/AgregarPeliculas.class
/PanelAgregarPeliculas.class
/AccionarMenuItem.class
/PanelAgregarPeliculas$1.class
/PanelListar.class
